@import 'tailwindcss';

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-xxs: 359px;
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;
  --color-primary: var(--color-gray-700);
  --color-secondary: var(--color-blue-500);
  --color-dark-purple: #110149;
  --color-dark-purple-light: #16015cc5;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /*  Spacing */
  --spacing: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
}

/* ========================= */
/*     BASE STYLES           */
/* ========================= */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-display);
    font-size: var(--text-base);
    color: var(--color-primary);
    @apply bg-gray-100 leading-1.5 m-0 p-0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    @apply font-bold text-gray-900;
  }
  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  h4 {
    @apply text-xl md:text-2xl;
  }
  p {
    @apply text-base md:text-lg text-gray-700;
  }

  a {
    @apply text-[#110149] transition-all duration-200 ease-in-out;
  }

  a:hover {
    @apply text-[#16015cc5] underline;
  }
}
/* ========================= */
/*    COMPONENTS             */
/* ========================= */
@layer components {
  /* 🔘 Buttons */
  button {
    display: inline-flex;
    padding: var(--spacing-2) var(--spacing-4);
    transition: all 0.3s ease-in-out;
    @apply cursor-pointer font-medium text-center justify-center rounded-md;
  }

  .btn-primary {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
    @apply shadow-md;
  }

  .btn-primary:hover {
    background-color: var(--color-dark-purple-light);
  }
  .btn-primary:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

/* ========================= */
/*    UTILITIES              */
/* ========================= */
@layer utilities {
  /* Flex Center */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* Transition */
  .transition-default {
    @apply transition-all duration-200 ease-in-out;
  }

  /* Responsive Grid */
  .grid-cols-auto {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }

  /* Disabled */
  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
